.~*#
*~
.#.*
target
Dokument/protokoll/*.tex
Dokument/protokoll/*.pdf
Dokument/**/*.toc
Dokument/**/*.log
Dokument/**/*.synctex.gz
Dokument/**/*.aux
Dokument/**/*.bbl
Dokument/**/*.blg
Dokument/**/*.dvi
Dokument/Rapporter och def/latexExempel.pdf
Dokument/Rapporter och def/IEEEtran/Kursrapport.pdf