.~*#
*~
.#.*
target
Dokument/protokoll/*.tex
Dokument/protokoll/*.pdf
*.toc
*.log
*.synctex.gz
*.aux
*.bbl
*.blg
*.dvi
*.out
Dokument/Rapporter och def/latexExempel.pdf
Dokument/Rapporter och def/IEEEtran/Kursrapport.pdf