@()(implicit req: UserRequest[_])

@main("Home", currentPage = Some(Page.Index)) {
    <h2>Instant Message</h2>
    @helper.form(routes.HomeController.submitNewMessage) {
        @helper.CSRF.formField
        <div class="form-group label-floating">
            <label class="control-label" for="message">Message</label>
            <input class="form-control" id="message" name="message"/>
        </div>
        <div class="col-sm-10">
            <button class="btn btn-lg btn-primary btn-block" type="submit">Submit</button>
        </div>
        <div class="col-sm-2">
            @helper.form(routes.HomeController.submitNewMessage()) {
                @helper.CSRF.formField
                <input type="hidden" name="message" value=""/>
                <button class="btn btn-lg btn-primary btn-block" type="submit">Clear</button>
            }
        </div>
    }
}
