@()(implicit req: UserRequest[_])

    @main("Home", currentPage = Some(Page.Index)) {
        <h2>Instant Message</h2>
        @helper.form(routes.HomeController.submitNewMessage) {
            @helper.CSRF.formField
            <div class="form-group label-floating">
                <label class="control-label" for="message">Message</label>
                <input class="form-control" id="message" name="message"/>
                <button class="btn btn-lg btn-primary btn-block" type="submit">Submit</button>
            </div>
        }
    }
