@(field: play.api.data.Field, args: (Symbol,Any)*)(implicit handler: helper.FieldConstructor, messages: play.api.i18n.Messages)

@import helper._

@argsMap = @{ args.toMap }
@inputType = @{ argsMap.getOrElse('type, "text") }
@value = @{ field.value.orElse(argsMap.get('_default).map(_.toString)) }
@classes = @{ args.toMap.getOrElse('class, Seq()) match {
    case x: Seq[_] => x
    case x => Seq(x)
} }

@input(field, args.filter(f => f._1 != 'type && f._1 != 'class):_*) { (id, name, _, htmlArgs) =>
    <input type="@inputType" value="@value" class="form-control @classes.mkString(" ")" id="@id" name="@name" @toHtmlArgs(htmlArgs)/>
}