@(signupForm: Form[HomeController.SignupData])(implicit messages: play.api.i18n.Messages, req: UserRequest[_])

    @import helper._
    @import views.MyHelpers._

@main("Sign Up", currentPage = Page.SignUp) {
    @form(routes.HomeController.doSignUp(), 'class -> "form-signin") {
        @CSRF.formField
        <h2 class="form-signin-heading">Please enter credentials</h2>
        @myInputText(signupForm("email"), 'required -> true, 'type -> "email", '_label -> "Desired email address")
        @myInputText(signupForm("password"), 'required -> true, 'type -> "password", '_label -> "Desired password")
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign up</button>
    }
}