@()

@main("Sign Up", currentPage = "signUp") {
    <form class="form-signin">
        <h2 class="form-signin-heading">Please enter credentials</h2>
        <label for="inputEmail" class="sr-only">Desired Email address</label>
        <input type="email" id="inputEmail" class="form-control" placeholder="Desired email address" required="" autofocus="" data-cip-id="inputEmail">
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" id="inputPassword" class="form-control" placeholder="Desired password" required="" data-cip-id="inputPassword">
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign up</button>
    </form>
}