@(signinForm: Form[HomeController.SigninData])(implicit messages: play.api.i18n.Messages, req: UserRequest[_])

    @import helper._
    @import views.MyHelpers._

@main("Sign In", currentPage = Some(Page.SignIn)) {
    <h2>Sign In</h2>
    @form(routes.HomeController.doSignIn()) {
        @CSRF.formField
        <h3 class="form-signin-heading">Please sign in</h3>
        @formErrors(signinForm)
        @myInputText(signinForm("email"), 'required -> true, 'type -> "email", '_label -> "Email address")
        @myInputText(signinForm("password"), 'required -> true, 'type -> "password", '_label -> "Password")
        <button class="btn btn-lg btn-primary btn-block btn-raised" type="submit">Sign in</button>
    }
}
