html {
    min-height: 100%;
}

body {
    min-height: 100%;
    background-color: #ededed;
}

.masthead-brand > a{
    color: black;
    text-shadow: 0 1px 3px rgba(0,0,0,.5);
}

.masthead-nav > li > a {
    color: #5a5a5a;
}

.masthead-nav > li > a:hover,
.masthead-nav > li > a:focus {
    background-color: transparent;
    border-bottom-color: #5a5a5a;
    text-shadow: none;
}

.masthead-nav > .active > a,
.masthead-nav > .active > a:hover,
.masthead-nav > .active > a:focus {
    color: #262126;
    border-bottom-color:#262126;
}

.cover-heading {
    color: black;
}